global
    maxconn 100000

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend api_frontend
    bind 127.0.0.1:3002
    default_backend uws_workers

backend uws_workers
    balance roundrobin

    server worker1 127.0.0.1:3003 check
    server worker2 127.0.0.1:3004 check
    server worker3 127.0.0.1:3005 check
    server worker4 127.0.0.1:3006 check